
/* 
filename: quiz_style.css
author: Aung Pyae Phyo Shan,Md Nahid, Kayes Ahmed , Sami ,Md Shakib Shahriar
created: 30/03/2022 
last modified: 10/04/2022 
*/

body {
    background-color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
  
.logo{
      padding: 10px;
      font-size: 32px;

  }
   .navbar{
      text-align: center;
      padding: 15px;
      background-color: aqua;
      width: 100%;
  }
  .form{
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
  text-align: left;

  }
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.hel{
text-align: center;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.quiz_footer {

  background:#1C2935 ;
  padding:30px;
  margin: 180px -1270px -50px -50px;
 
  
}

#nodejs_quiz{

  margin-left: 280px;
  text-align: center;
  color:#2BAB0D;
  font-family: sans-serif;
  
}
 
 fieldset{
  margin-left: 300px;
  align-content: center;
  padding: 25px;
  border-radius: 10px;
 }


